node_modules
.angular/cache
*.DS_Store
dist/assessment-ui/3rdpartylicenses.txt
dist/assessment-ui/prerendered-routes.json
dist/assessment-ui/browser/main-FLCWPSOE.js
dist/assessment-ui/browser/styles-J5OPAWUU.css
